<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="openReminderForm()">
    <mat-icon>add</mat-icon>
    New reminder
  </button>
</mat-toolbar>

<!-- Create the calendar here -->
<!-- ======================== -->

<div>
  <div class="month-container">
    <div class="month-container__arrows">
      <button mat-icon-button (click)="changeToPrevMonth()" aria-label="Next month button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="changeToNextMonth()" aria-label="Previous month button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h2>{{getCurrentMonthName()}} {{actualDate.getFullYear()}}</h2>
  </div>
  <div class="calendar">
    <div class="calendar__header">
      <div *ngFor="let dayName of weekNames" class="calendar__header-item">
        {{dayName}}
      </div>
    </div>
    <div class="calendar__body">
      <ng-container *ngFor="let day of monthList">
        <div class="calendar-cell" [class]="validateDay(day)">
          <span>{{day.getDate()}}</span>
          <div class="calendar-cell__reminder-container">
            <ng-container *ngFor="let reminder of filterRemindersByDate(day); count as length; index as i; trackBy: trackByReminder">
              <div (click)="openReminderForm(reminder)"
                   *ngIf="i < 3"
                   class="calendar-cell__reminder-item"
                   matTooltip="{{getReminderText(reminder)}}"
                   [style.background]="reminder.color">
                {{getReminderText(reminder)}}
              </div>
              <button [matMenuTriggerFor]="menu"
                      [matMenuTriggerData]="{reminders: filterRemindersByDate(day)}"
                      class="calendar-cell__reminder-button"
                      *ngIf="i === 3 && length > 3"
                      mat-button>
               {{length - 3}} more
              </button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-reminders="reminders">
    <ng-container *ngFor="let reminder of reminders; index as i">
      <div (click)="openReminderForm(reminder)"
           *ngIf="i > 2"
           mat-menu-item
           class="calendar-cell__reminder-item-menu"
           [style.background]="reminder.color">
        {{getReminderText(reminder)}}
      </div>
    </ng-container>
  </ng-template>
</mat-menu>
