.spacer {
  flex: 1 1 auto;
}

.month-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
  }

  &__arrows {
    display: flex;
    gap: 1rem;
  }
}

.calendar {
  width: 100%;
  height: calc(100vh - 104px);

  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: #2F74B5;
    color: #ffffff;
    font-weight: bold;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
  }
}

.calendar-cell {
  padding-left: 10px;
  border: 1px solid #D1D1D1;
  background: #FFFFFF;
  min-height: 100%;
  font-weight: bold;


  &--weekend-day {
    background: #F2F2F2;
    color: #2F74B5;
  }

  &--other-month-day {
    color: #A6A6A6;
  }

  &__reminder-container {
    width: 100%;
    display: grid;
    gap: 5px;
  }

  &__reminder-item {
    color: #ffffff;
    cursor: pointer;
    padding: 2px 8px;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__reminder-item-menu {
    color: #ffffff;
    cursor: pointer;
    padding: 2px 8px;
  }

  &__reminder-button {
    text-align: start;
  }
}
