<div class="reminder-actions">
  <button (click)="removeReminder()" *ngIf="isUpdate" mat-icon-button aria-label="delete reminder button">
    <mat-icon>delete</mat-icon>
  </button>
  <button (click)="closeModal()" mat-icon-button aria-label="close reminder modal button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="reminder">
  <h2>{{isUpdate ? 'Edit' : 'New'}} reminder</h2>
  <form (ngSubmit)="onSubmit()" class="reminder__form" [formGroup]="reminderForm">
    <mat-form-field>
      <mat-label>Text</mat-label>
      <input type="text" matInput formControlName="text" id="text-field">
      <mat-error *ngIf="reminderForm.get('text').hasError('maxlength')">
        Max 30 characters
      </mat-error>
      <mat-error *ngIf="reminderForm.get('text').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input type="datetime-local" matInput formControlName="dateTime" id="datetime-field">
      <mat-error *ngIf="reminderForm.get('dateTime').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput type="color" formControlName="color" id="color-field">
      <mat-error *ngIf="reminderForm.get('color').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input type="text"
             autocomplete="off"
             id="city-field"
             placeholder="Type a city"
             matInput
             [formControl]="cityControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of cities$ | async" [value]="option.name" (click)="onSelectCity(option)">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="reminderForm.get('city').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="reminderForm.invalid"
      type="submit" color="primary"
      mat-raised-button aria-label="save reminder button">
      Save
    </button>
  </form>
</div>
